.brand-logo img {
    height: 23px;
    width: 174px;
    margin-left: 50px;
    margin-top: 20px;
    z-index: 100;
    
  }

  .sidebar{
    background: #333;
    color: #fff;
    height: 100%;
 
   

}
.sidebar{
    width: 300px;
    float: left;
    position: absolute;
}